:root {
    --background: 0deg 0% 100%;
    --foreground: 0deg 0% 25.1%;
    --foreground-secondary: 210.49deg 40% 12.96%;
    --neutral-dim: 194.4 11.11% 44%;
    --neutral: 194.12 13.6% 25%;
    --text-neutral-content-strong: 0deg 0% 25.1%;
    --color-neutral-content-weak: 0deg 0% 44.31%;
    --link: hsl(0deg 94.3% 34.33%);
    --link-hover: 216.69 100% 41%;
    --link-visited: hsl(0deg 100% 29%);

    --surface-code: 0deg 0% 94.65%;

    --radius: 0.5rem;
    --border: 0deg 0% 0% / 10.2%;
    --spacer-a-px: 0.125rem;

    --text-base: 1.15rem;

    --font-serif: 'Merriweather', 'Georgia', 'Athelas', 'Bell MT', 'Book Antiqua', 'Californian FB', 'Calisto MT', 'Century Schoolbook', 'Garamond', 'Goudy Old Style', 'Hoefler Text', 'Iowan Old Style', 'Palatino', 'High Tower Text', 'Liberation Serif', 'Noto Serif', serif;
    --font-sans-serif: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Avenir', 'Franklin Gothic Book', 'Gill Sans', 'Gill Sans MT', 'Optima', 'Seravek', 'Sitka', 'Calibri', 'Futura', 'Perpetua', 'Segoe UI', 'Tw Cen MT', sans-serif;
    --font-monospace: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
}

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul[role=list],
ol[role=list] {
    list-style: none;
}

html {
    scroll-behavior: smooth;
    color-scheme: dark light;
    overflow-x: hidden;
}

body {
    overflow: hidden;
    text-rendering: optimizeLegibility;
}

img,
picture {
    max-width: 100%;
    display: block;
}

@media (prefers-reduced-motion: auto) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *:before,
    *:after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

html {
    /* 1. Correct the line height in all browsers. */
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    /* 2. Prevent adjustments of font size after orientation changes in iOS. */
    -moz-tab-size: 4;
    /* 3. Use a more readable tab size (opinionated). */
    tab-size: 4;

    -webkit-font-smoothing: subpixel-antialiased;
    font-variation-settings: normal;
    font-feature-settings: "kern";
    font-family: var(--font-sans-serif);
    font-weight: 400;
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
}

body {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    text-underline-offset: 0.2ch;
}

ol,
ul {
    max-width: 65ch;
}

header {
    grid-area: header;
    padding: 1rem 0;
    border-block-end: 1px solid hsl(var(--border));
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.05em;
}

main {
    grid-area: main;
    margin-block-start: 0.5rem;
}

footer {
    grid-area: footer;
    width: 100%;

    & p {
        font-size: .85rem;
        text-align: left;
        opacity: 0.85;
    }
}

/*===------------===*/
/*! Macro changes*/

p {
    font-family: var(--font-serif);
}

a {
    font-size: 1rem;
    padding: 0 var(--spacer-a-px);
    color: var(--link);
    text-decoration: none;

    &:link {
        color: var(--link);
    }

    &:visited {
        color: var(--link-visited);
    }

    &:hover {
        color: hsl(var(--text-foreground));
        text-decoration: underline;
    }

}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-sans-serif);
    color: hsl(var(--text-neutral-content-strong));
    text-wrap: pretty;
    max-inline-size: 52ch;
}

h1,
h1 a {
    font-size: 1.75rem;
    font-weight: 400;
    margin-block-start: 1rem;
    margin-bottom: .5rem;
    padding-inline: 0;
    max-inline-size: 52ch;
}

h2 {
    font-weight: bolder;
    margin-block-start: 1.5em;
    font-size: 1.17rem;
    line-height: 1.25;
}


/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
    text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
    font-weight: bold;
    font-size: 92%;
}

code,
kbd,
samp,
pre {
    font-family: var(--font-monospace);
    font-size: 1rem;
}

code {
    font-family: var(--font-monospace);
    background-color: hsl(var(--surface-code));
    padding: .1em .2em;

    :not(pre code) {
        padding: 1px 4px;
        font-size: small;
        font-weight: medium;
        border-radius: 1px;
    }
}

/**
Add the correct font size in all browsers.
*/

small {
    font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

hr {
    /* 1 */
    height: 0;
    color: hsl(var(--border));
    border-style: solid;
}

:where(ul, ol):not([class])>li {
    margin-left: 2rem;
    margin-inline-start: 2rem;
    margin-bottom: .25rem;
    margin-block-end: .25rem;

    &::marker {
        color: hsl(var(--neutral-dim));
        font-size: 0.85rem;
        font-variant-numeric: ordinal;
    }
}

time {
    font-weight: lighter;
    color: hsl(var(--neutral));
    color: hsl(var(--color-neutral-content-strong));
    font-variant-numeric: oldstyle-nums;
    opacity: 0.95;
    font-variant-numeric: proportional-nums;
    font-family: var(--font-sans-serif);
    font-size: 0.85rem !important;

    &.post-datetime {
        letter-spacing: 0.05em;
        font-size: 90%;
        padding-inline-start: 0.5ch;
    }
}

article {
    font-variant-numeric: oldstyle-nums;
    padding-block: 1rem;

    & :is(p, h2) {
        font-size: var(--text-base);
    }

    & h2 {
        & a {
            font-size: var(--text-base);
        }
    }

    & li {
        padding-inline-start: 1ch;
        font-family: var(--font-serif);
        font-size: calc(var(--text-base) - .06rem);
    }
}

/* !TODO: on hover, show the link before symbol to write a target to address bar */
/* look above in >> section:target > :is(h1, h2, h3)::before { content: "§" / ""; }*/
h1.post-title,
h1.post-title a {
    text-decoration: none;
    color: inherit;
    margin-top: 1.25rem;
    margin-top: .5rem;
}

article {
    & h1 {
        position: relative;
    }

    & h2 {
        position: relative;
        text-transform: lowercase;
    }
}

article h1.post-title:before,
article h2:before {
    content: "⇆";
    left: -16px;
    position: absolute;

    opacity: 0;
    font-size: .85rem;
    font-weight: lighter;
    line-height: 1.7;
    font-family: var(--font-monospace);
}

article {
    & h2 {
        text-decoration: none;
        color: inherit;

        & a:is(:link, :visited) {
            text-decoration: none;
            color: inherit;
        }
    }
}

article h2:hover::before,
article h1.post-title:hover::before {
    --animate-timing-cubic-bezier-out: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    opacity: 1;
    transition-property: opacity;
    transition-duration: 500ms;
    animation-timing-function: var(--animate-timing-cubic-bezier-out);
}

@media (min-width: 768px) {
    h1,
    h1 a {
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: .5rem;
    }

    /* article {
        & :is(p, h2, h2 a) { font-size: 1.25rem; }
        & :is(h1.post-title:before, h2:before) { left: -1.5em; }
    } */
    article p,
    article h2,
    article h2 a {
        font-size: 1.25rem;
    }

    article h1.post-title:before,
    article h2:before {
        left: -1.5em;
    }
}

/*===------------===*/
/*! Micro changes*/

/* !TODO: TAB jump to...  */
section:target> :is(h1, h2, h3)::before {
    content: "§" / "";
}

:where(h1, h2, h3, h4)>a {
    color: inherit;
    text-decoration: none;
    padding: 0;

    &:hover {
        color: inherit;
        text-decoration: none;
        padding: 0;
    }
}

ul {
    &.nav-items {
        display: flex;
        gap: 1em;
        list-style: none;
    }

    &.posts {
        list-style: none;
        padding: 0;
    }
}

h1.h1-hero {
    display: none;
    font-family: inherit;
    font-size: 1.25rem;
    font-weight: lighter;
}

.posts {
    container-type: inline-size;

    & h2 {
        margin: initial;
        padding: initial;
        border-block-end: none;
        display: grid;

        & a {
            font-size: 1.25rem;
            font-weight: normal;
        }
    }

    &:not(time, h2) {
        color: hsl(var(--neutral-dim));
    }

    & time {
        font-size: 0.85rem;
        font-variant-numeric: oldstyle-nums;
        line-height: normal;

        /* header has inline padding to emphasize nav bing inside border-bottom of header */
        padding-inline-start: .25ch;
    }
}

@container (min-width: 700px) {
    .posts {
        & h2 {
            grid-template-columns: auto 1fr;
        }

        & time {
            font-size: 0.95rem;
            line-height: inherit;

            &:after {
                content: "—" / "";
                padding-inline-end: 1ch;
            }
        }
    }
}

nav {
    & a {
        &:link {
            text-decoration: none;
            color: hsl(var(--neutral));
            opacity: 0.85;
        }

        &:is(:visited, :hover, :active) {
            text-decoration: underline;
            color: hsl(var(--neutral));
            opacity: 1;
        }
    }
}

.logo {
    & a {
        &:link {
            font-size: 1.5rem;
            letter-spacing: 0.05em;
            color: hsl(var(--foreground));
        }

        &:visited {
            color: hsl(var(--neutral));
        }
    }
}

/* Ported from Kevin Powell's lessons. */

/* !`--flow-spacer` is an anonymous scoped variable.
   Declare it wherever `.flow` is used. */
:where(.flow)>*+* {
    --_fallback: 1em;
    margin-top: var(--flow-spacer, var(--_fallback));
    margin-block-start: var(--flow-spacer, var(--_fallback));
}

.container {
    --container-width: min(600px, 68ch);
    --inline-padding: 2rem;

    width: min(var(--container-width), 100% - calc(var(--inline-padding) / 2));
    margin-inline: auto;
}

.container[data-type=wide] {
    --container-width: 65rem;
}

.container[data-type=full-bleed] {
    --container-width: 100%;
}

@media (max-width: 640px) {
    .container {
        --container-width: 80ch;
        --inline-padding: 2rem;
        width: min(var(--container-width), 100% - calc(var(--inline-padding) / 2));
        padding-inline: calc(var(--inline-padding) / 4);
    }
}

.visually-hidden {
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.unstyled-list {
    list-style: none;
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
    display: list-item;
}


/*
Overrides
========
*/

h2#contents {}

/* Make the post TLDR first `<p>`, italic.
  Only post article have `<time>` before <h1>` */
article.post-article {
    &:has(time) p:first-of-type {
        font-size: calc(var(--text-base) - 0.01rem);
        letter-spacing: -0.012em;
        font-weight: 500;
        margin-block: .5rem;
        display: inline-block;
        text-wrap: pretty;
        max-inline-size: 61ch;
        color: hsl(var(--color-neutral-content-weak));
        /* tldr */
        & b {
            letter-spacing: initial;
            text-transform: lowercase;
        }
    }

    /* Ported from https://developer.chrome.com/blog/whats-new-css-ui-2023/#initial-letter */
    & p:nth-of-type(2):first-letter {
        initial-letter: 1 1;
        -webkit-initial-letter: 1 1;
        font-family: var(--font-serif), serif;
        font-weight: lighter;
        margin-right: .5ch;
        color: hsl(var(--foreground-secondary));
        text-shadow: 0.1rem 0.1rem hsl(var(--foreground));
    }
}

/*
@media(prefers-color-scheme: dark) {
    html {
        color-scheme: dark !important;
    }
    ::-webkit-scrollbar {
        background-color: #212425;
        color: #b2ab9f;
    }
    ::-webkit-scrollbar-corner {
        background-color: #191b1c;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #484d50;
    }
    ::selection {
        background-color: #0050b1 !important;
        color: #f1efec !important;
    }
}
*/